@import "mixin";

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.25em;
}

.clear {
    clear: both;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Nunito";
    background-color: #343d4b;
    background-size: cover;
    -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;

    @media (max-width: 425px) {
        font-size: 13px;
    }

    @include weather_class;

    .locale {
        display: block;
    }

    section {
        &#main {
            display: block;
            width: fit-content;
            margin: auto;
            padding-bottom: 30px;
            height: auto;
        }
    }

    .btn-primary:focus,
    .form-select {
        &:focus {
            outline: none;
            box-shadow: none;
            border-color: transparent;
        }
    }

    .btn-check:focus + .btn-secondary,
    .btn-secondary:focus {
        border-color: transparent;
        box-shadow: none;
    }

    form {
        &.api-key {
            width: fit-content;
            margin: auto;
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 20px;
            background-color: rgba(255, 255, 255, 0.3);

            a {
                color: #fff;
                font-weight: bold;
            }
        }
    }
}
