.weather-side {
    position: relative;
    height: 365px;
    width: 300px;
    -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
    transform: translateZ(0) scale(1.02) perspective(1000px);
    float: left;
    background-size: cover;
    -webkit-transform: scale(1) perspective(1500px) rotateY(10deg);
    transform: scale(1) perspective(1500px) rotateY(10deg);
    background-color: rgba(0, 0, 0, 0.5);

    @media (max-width: 768px) {
        transform: initial;
        float: initial;
        width: initial;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.date-container {
    position: absolute;
    top: 25px;
    left: 25px;
}

.date-dayname {
    margin: 0;
}

.date-day {
    display: block;
}

.location {
    display: inline-block;
    margin-top: 10px;
}

.location-icon {
    display: inline-block;
    height: 0.8em;
    width: auto;
    margin-right: 5px;
}

.weather-container {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.weather-icon.feather {
    height: 60px;
    width: auto;
}

.weather-temp {
    margin: 0;
    font-weight: 700;
    font-size: 3em;
}

.weather-desc {
    margin: 0;
    font-size: 1rem;
}

.info-side {
    position: relative;
    float: left;
    height: 100%;
}

.today-info {
    padding: 15px;
    margin: 40px 10px 15px 10px;
    box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    min-width: 200px;
    text-shadow: 0px 0px 2px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 0.9em;
}

.today-info > div:not(:last-child) {
    margin: 0 0 10px 0;
}

.today-info > div .title {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
}

.today-info > div .value {
    float: right;
}

.week-list {
    list-style-type: none;
    margin: 10px 20px;
    -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 5px 5px;

    .row {
        .col {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.week-list li {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #222831;
    color: #fff;
    width: 70px;

    &.current {
        border-bottom: 3px solid;
    }
}

// .week-list li:hover {
//     -webkit-transform: scale(1.1);
//     -ms-transform: scale(1.1);
//     transform: scale(1.1);
//     background: #fff;
//     color: #222831;
//     -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
//     box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
// }

// .week-list li.active {
//     background: #fff;
//     color: #222831;
// }

.week-list li .day-name {
    display: block;
    margin: 10px 0 0 0;
    text-align: center;
}

.week-list li .day-icon {
    display: block;
    height: 30px;
    width: auto;
    margin: 0 auto;
}

.week-list li .day-temp {
    display: block;
    text-align: center;
    margin: 10px 0 0 0;
    font-weight: 700;
    font-size: 0.8em;
}

.options-container {
    padding: 15px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .city-name {
        cursor: initial;

        &.btn-secondary {
            &:hover {
                background-color: #6c757d;
                border-color: #6c757d;
            }
        }
    }

    .input-group {
        width: fit-content;

        .dropdown-menu {
            &.show {
                max-height: 230px;
                overflow-x: auto;
            }
        }
    }

    svg {
        &.weather-icon.feather {
            height: 20px;
        }
    }
}
